# AV – TRABALHO: FASE 3 – Preparação e análise exploratória de dados

**Alunos:**
- Bruno Eduardo Procopiuk Walter
- Bruno Gonzaga Santos

**Tarefas:**
1. Limpeza dos datasets de treino e teste
2. Normalização dos datasets de treino e teste

## Obtendo os dados

In [21]:
# Realizando imports
import pandas as pd
from sklearn import preprocessing

In [2]:
# Lendo dataset de teste
df_test = pd.read_csv('datasets/score-test.csv', sep=',')
df_test.head()

,cpf_hash,estimativa_renda,anos_ultima_restituicao,anos_ultima_declaracao,segmentacao_financeira,safra,target
0,217413,900,-9998,-9998,0,TESTE,0.0
1,659712,400,-9998,12,0,TESTE,0.0
2,558518,6000,-9998,-9998,1,TESTE,0.0
3,622015,1000,-9998,-9998,1,TESTE,0.0
4,595874,400,-9998,-9998,0,TESTE,0.0

In [3]:
# Lendo dataset de treino
df_train = pd.read_csv('datasets/score-train.csv', sep=',')
df_train.head()

,cpf_hash,estimativa_renda,anos_ultima_restituicao,anos_ultima_declaracao,segmentacao_financeira,safra,target
0,241872,20000,8,4,0,TREINO,0.0
1,119525,1000,-9998,-9998,0,TREINO,0.0
2,325014,900,-9998,-9998,0,TREINO,1.0
3,219233,1000,-9998,-9998,0,TREINO,0.0
4,302740,900,-9998,-9998,0,TREINO,0.0

## Clean

In [4]:
# Removendo colunas desnecessárias
del df_train['anos_ultima_restituicao']
del df_train['anos_ultima_declaracao']
del df_test['anos_ultima_restituicao']
del df_test['anos_ultima_declaracao']

In [5]:
df_train.head()

   cpf_hash  estimativa_renda  segmentacao_financeira   safra  target
0    241872             20000                       0  TREINO     0.0
1    119525              1000                       0  TREINO     0.0
2    325014               900                       0  TREINO     1.0
3    219233              1000                       0  TREINO     0.0
4    302740               900                       0  TREINO     0.0

### Removendo valores inválidos da estimativa_renda

In [6]:
df_test.head()

   cpf_hash  estimativa_renda  segmentacao_financeira  safra  target
0    217413               900                       0  TESTE     0.0
1    659712               400                       0  TESTE     0.0
2    558518              6000                       1  TESTE     0.0
3    622015              1000                       1  TESTE     0.0
4    595874               400                       0  TESTE     0.0

In [9]:
df_train.estimativa_renda.unique()

array([20000,  1000,   900,  8500, 25000, -9999,   400,  1200,  1900,
        3500,   800,  7500,  2400,  2100,  4500,  5500,  1800,  1100,
        1600,  1400,  2500,  4000,  2300,  3000,  2200, 30000,  1700,
        6000,  6500,  8000,  7000, 12000,  1500,  2000,  9000, 10000,
        2700,  8600,   500, 14000,  2800,  5000,  8200,  4200, 15000,
       13000, 11000,  3100,  4600,  6600,  3200,  6400,  1300,  2600,
       23000,  6200,  9700,  9300,  3900,  8900,  8700, 17000,  7300,
        4700,   700,  2900,  5900,  7900, 19000,  9400,  5800,  3300,
        7100,  9900,  5200,  3700,  7800,  4900,  4300, 22000,  6900,
        5700, 27000,  6800,  9200,  6300,  8300, 18000,  9500,  5600,
       16000,  3400, 28000,  4800,  3600,  5400,  7700,  6100,  9600,
        6700,  5100,  7600,  8800, 26000,  4100,  9100,  3800,  7400,
        5300,   600,  4400,  8400,  7200,  8100,  9800, 21000, 24000])

In [16]:
df_train = df_train[df_train.estimativa_renda != -9999]
df_test = df_test[df_test.estimativa_renda != -9999]

In [12]:
df_train.estimativa_renda.unique()

array([20000,  1000,   900,  8500, 25000,   400,  1200,  1900,  3500,
         800,  7500,  2400,  2100,  4500,  5500,  1800,  1100,  1600,
        1400,  2500,  4000,  2300,  3000,  2200, 30000,  1700,  6000,
        6500,  8000,  7000, 12000,  1500,  2000,  9000, 10000,  2700,
        8600,   500, 14000,  2800,  5000,  8200,  4200, 15000, 13000,
       11000,  3100,  4600,  6600,  3200,  6400,  1300,  2600, 23000,
        6200,  9700,  9300,  3900,  8900,  8700, 17000,  7300,  4700,
         700,  2900,  5900,  7900, 19000,  9400,  5800,  3300,  7100,
        9900,  5200,  3700,  7800,  4900,  4300, 22000,  6900,  5700,
       27000,  6800,  9200,  6300,  8300, 18000,  9500,  5600, 16000,
        3400, 28000,  4800,  3600,  5400,  7700,  6100,  9600,  6700,
        5100,  7600,  8800, 26000,  4100,  9100,  3800,  7400,  5300,
         600,  4400,  8400,  7200,  8100,  9800, 21000, 24000])

### Removendo valores inválidos da segmetacao financeira

In [13]:
df_test.head()

   cpf_hash  estimativa_renda  segmentacao_financeira  safra  target
0    217413               900                       0  TESTE     0.0
1    659712               400                       0  TESTE     0.0
2    558518              6000                       1  TESTE     0.0
3    622015              1000                       1  TESTE     0.0
4    595874               400                       0  TESTE     0.0

In [15]:
df_test.segmentacao_financeira.unique()

array([    0,     1,     2, -9999,     3,     4,     5])

In [17]:
df_train = df_train[df_train.segmentacao_financeira != -9999]
df_test = df_test[df_test.segmentacao_financeira != -9999]

In [18]:
df_test.segmentacao_financeira.unique()

array([0, 1, 2, 3, 4, 5])

    ### Normalizar váriaveis teste

In [19]:
df_test.head()

   cpf_hash  estimativa_renda  segmentacao_financeira  safra  target
0    217413               900                       0  TESTE     0.0
1    659712               400                       0  TESTE     0.0
2    558518              6000                       1  TESTE     0.0
3    622015              1000                       1  TESTE     0.0
4    595874               400                       0  TESTE     0.0

In [28]:
df_final_test = df_test[['estimativa_renda', 'segmentacao_financeira']]
df_final_test.head()

   estimativa_renda  segmentacao_financeira
0               900                       0
1               400                       0
2              6000                       1
3              1000                       1
4               400                       0

In [29]:
min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(df_final_test)
df_final_test = pd.DataFrame(np_scaled, columns=df_final_test.columns)

/Users/brunogsantos/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [32]:
df_final_test.head()

   estimativa_renda  segmentacao_financeira
0          0.016892                     0.0
1          0.000000                     0.0
2          0.189189                     0.2
3          0.020270                     0.2
4          0.000000                     0.0

In [35]:
df_final_test.to_csv('datasets/normalize_test.csv', index = False)